framework: netstandard2.0, net471, netcoreapp2.0
source https://api.nuget.org/v3/index.json

nuget FSharp.Core                           ~> 4.3.0
                                            
nuget Aardvark.Base                         ~> 4.2.2
nuget Aardvark.Base.Incremental             ~> 4.2.2
nuget Aardvark.Base.FSharp                  ~> 4.2.2
                                            
nuget Aardvark.Base.Rendering               ~> 4.4.1
nuget Aardvark.SceneGraph                   ~> 4.4.1
nuget Aardvark.SceneGraph.IO                ~> 4.4.1
                                            
nuget Aardvark.Application.Slim             ~> 4.4.1
nuget Aardvark.Application.Slim.GL          ~> 4.4.1
nuget Aardvark.Application.Slim.Vulkan      ~> 4.4.1
                                            
nuget Aardvark.Data.E57                     ~> 4.1.0-prerelease3
nuget Aardvark.Geometry.PointTree           ~> 4.1.0-prerelease3
nuget Aardvark.Geometry.PointSet            ~> 4.1.0-prerelease3
nuget Aardvark.Data.Points.Ascii            ~> 4.1.0-prerelease3

//nuget LASzip                                ~> 0.2.0-prerelease1

group Build
framework: net471
content: none
source https://api.nuget.org/v3/index.json

github aardvark-platform/aardvark.fake:v4-temp
